* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

header{
    background-color: #131921;
}

.nav1 {
    display: inline;
    
}
#sec1,#sec2,#sec3 {
    display: flex;
    flex-flow: row;
}