<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <div class="nav1">
            <div id="sec1">
                <div id="amazonlogo">
                    <img src="{% static 'imagesForNavBar/amazonlogo.png' %}" alt="">
                </div>
                <div id="loc">
                    <div id="loc-icon">

                    </div>
                    <div id="loc-word">

                    </div>
                </div>
            </div>

            <div id="sec2">

            </div>

            <div id="sec3">
                <div id="lang">
                    <p><b>EN</b></p>
                </div>

                <div id="account">
                    <h6>Hello, sign in</h6>
                    <h5>Accounts & Lists</h5>
                </div>

                <div id="orders">
                    <h6>Returns</h6>
                    <h5>& Orders</h5>
                </div>

                <div id="cart">
                    <img src="{% static 'imagesForNavBar/cart.png' %}" alt="">
                </div>
            </div>
        </div>
        <div class="nav2">

        </div>
    </header>

    <main>

    </main>

    <footer>

    </footer>
</body>
</html>
